<section class="grid" *ngIf="weeks$ | async as weeks">
  <div class="week-days-row">
    <div
      class="cell"
      *ngFor="let day of weeks[0]; index as i"
      [ngClass]="{ 'accent-200-background': i === holiday }"
    >
      <span>{{ day.date | date: 'EEE' }}</span>
    </div>
  </div>

  <div class="row" *ngFor="let week of weeks">
    <div class="cell" *ngFor="let day of week; index as i">
      <tr-cell
        [day]="day"
        [currentMonth]="currentMonth"
        [isHoliday]="i === holiday"
      ></tr-cell>
    </div>
  </div>
</section>
