<header>
  <div class="dialog-controls">
    <button mat-icon-button mat-dialog-close matTooltip="close" i18n-matTooltip="List Event Dialog|Close@@ListEventDialogClose">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <p class="week-day">{{ day.date | date: 'EEE' }}</p>
  <p class="day">{{ day.date | date: 'd' }}</p>
</header>
<mat-dialog-content class="content">
  <ul class="events">
    <li *ngFor="let event of day.events" [mat-dialog-close]="event">
      <span [ngClass]="{ 'bullet primary-background': true }"></span>
      <span class="time">
        {{ event.dateStart | date: 'HH:mm' }}
      </span>
      <p class="title">{{ event.title }}</p>
    </li>
  </ul>
</mat-dialog-content>
