<header>
  <div class="dialog-controls">
    <button mat-icon-button mat-dialog-close="delete" i18n-matTooltip="View Event Dialog|Remove@@ViewEventDialogRemove" matTooltip="remove event">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button mat-dialog-close i18n-matTooltip="View Event Dialog|Close@@ViewEventDialogClose" matTooltip="close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</header>
<mat-dialog-content class="content">
  <div class="row">
    <p class="title">{{ data.title }}</p>
  </div>
  <div class="row">
    <mat-icon class="row-icons">access_time</mat-icon>
    <p class="date-time">
      <span class="date">{{ data.dateStart | date }}</span>
      <span class="time">{{ data.dateStart | date: 'HH:mm' }}</span>
      <span class="dash">-</span>
      <span class="date">{{ data.dateEnd | date }}</span>
      <span class="time">{{ data.dateEnd | date: 'HH:mm' }}</span>
    </p>
  </div>
  <div class="row participants-row">
    <mat-icon class="row-icons">people_outline</mat-icon>
    <div class="participants">
      <tr-participant-item
        [showDelete]="false"
        [participant]="participant"
        *ngFor="let participant of data.participants"
      ></tr-participant-item>
    </div>
  </div>
  <div class="row description-row">
    <mat-icon class="row-icons">short_text</mat-icon>
    <p class="description">{{ data.description }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" mat-dialog-close cdkFocusInitial i18n="View Event Dialog|Done@@ViewEventDialogDone">
    Done
  </button>
</mat-dialog-actions>
