<div class="wrapper">
  <mat-toolbar role="heading" class="app-toolbar">
    <div class="logo">
      <mat-icon class="icon">perm_contact_calendar</mat-icon>
      <span class="brand">Transmit Calendar</span>
    </div>
    <div class="controls">
      <button
        mat-stroked-button
        color="primary"
        class="today-button"
        matTooltip="{{ today | date }}"
        (click)="onTodayClick()"
      >
        Today
      </button>
      <button
        mat-icon-button
        matTooltip="Previous month"
        (click)="onPrevMonthClick()"
        [disabled]="!currentMonth"
      >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Next month"
        (click)="onNextMonthClick()"
        [disabled]="!currentMonth"
      >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <div
      class="month-year"
      *ngIf="current$ | async as current; else loadingMonthYear"
    >
      <span class="month">{{ current | date: 'MMMM' }}</span>
      <span>{{ current | date: 'yyyy' }}</span>
    </div>
    <ng-template #loadingMonthYear>
      <div class="month-year"></div>
    </ng-template>
    <div class="spacer"></div>
    <div class="tools"></div>
  </mat-toolbar>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
